@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

.errorForm {
  color: crimson;
  font-family: 'Albert Sans', sans-serif;
  font-size: small;
}

.btnback {
  border-radius: .5rem;
    font-size: 1rem;
    font-family: 'Albert Sans', sans-serif;
    background-color: black;
    padding: .5rem;
    margin-top: 1.5rem;
    color: beige;
    border: 1px solid beige;
    opacity: 80%;
}

.btnback:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: darkgray;
  font-weight: bold;
  color: black;
}

.containerForm {
    background-image: url("https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gif"); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 1rem;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
    gap: 1rem;
    color: beige;
    font-weight: bold;
}

.subtitleh2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Albert Sans', sans-serif;
  opacity: 80%;
  color: white;
  margin-top: -1rem;
}

.subtitleh3 {
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
  opacity: 80%;
  color: beige;
  font-size: 1rem;
}

.cardForm {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding-top: 1rem;
    border: 1px solid white;
    background-color: black;
    opacity: 85%;
    border-radius: 1rem;
    width: 45rem;
    padding: 1rem;
    margin-top: -3rem;
}

.labelForm {
  font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: -1rem;
}

.btnSubmit {
  border-radius: .5rem;
    font-size: 1rem;
    font-family: 'Albert Sans', sans-serif;
    background-color: black;
    padding: .5rem;
    margin-top: 1.5rem;
    color: beige;
    border: 1px solid beige;
    opacity: 80%;
}

.btnSubmit:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: darkgray;
  font-weight: bold;
  color: black;
}

.inputForm {
    width: 20rem;
    font-family: 'Albert Sans', sans-serif;;
    border-radius: .5rem;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.li {
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
  color: white;
}

.select {
    background-color: black;
    font-size: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    padding: .5rem;
    font-family: 'Albert Sans', sans-serif;;
}

